/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

object {
    height: 100%;
    width: 100%;
}

.header {
    background-color: #fff;
    position: absolute;
    height: 44px;
    width: 100%;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .logo {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 5%;
    z-index: 1;
}


/* menu hamburguesa */

.header .menu-icon {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 12px;
    top: 21px;
    right: 5.9%;
}


/* etiqueta tipo span para haver raya de hamburguesa */

.header .menu-icon .navicon {
    background: #333;
    height: 2px;
    position: absolute;
    -webkit-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* 
  menu */

.menu {
    position: absolute;
    top: 44px;
    width: 100%;
    background: #0000EC;
    max-height: 0px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li:first-child {
    padding-top: 1rem;
}

.header li {
    padding-bottom: 1.5rem;
    padding-left: 5%;
}

.header li a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.75rem;
    text-decoration: none;
}


/* boton + animacion + accion con checked */

.header .menu-btn {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 18px;
    height: 12px;
    margin-top: 10px;
    margin-right: 5.9%;
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 224px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.section1 {
    position: absolute;
    top: 44px;
    left: 0px;
    height: 303px;
    width: 100%;
}

.TitleContainer {
    position: absolute;
    top: 29px;
    margin-left: 5%;
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.title1 {
    height: 42px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.title2-0 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.title2-1 {
    height: 42px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-decoration: line-through;
}

.title3 {
    height: 42px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.title3-1 {
    height: 42px;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.p1 {
    max-width: 480px;
    height: 66px;
    position: absolute;
    top: 129px;
    margin-left: 5%;
}

.p1-1 {
    display: none;
}

.button1 {
    position: absolute;
    top: 231px;
    margin-left: 5%;
}

.section2 {
    position: absolute;
    top: 347px;
    left: 0px;
    height: 1203.5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.title4 {
    position: absolute;
    height: 42px;
    padding-top: 64px;
    padding-left: 5%;
    z-index: 1;
}

.title4 h2 {
    color: #FFFFFF;
}

.skew1 {
    height: 1203.5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: white;
}

.skew1:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0px;
    width: 100%;
    height: 95%;
    -webkit-transform: skewY( -9deg);
    -ms-transform: skewY( -9deg);
    transform: skewY( -9deg);
    background-image: -o-linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.pod1 {
    padding-top: 124px;
    padding-left: 3.4%;
    padding-right: 3.4%;
    z-index: 1;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-preferred-size: 232px;
    flex-basis: 232px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pod2 {
    padding-top: 8px;
    padding-left: 3.4%;
    padding-right: 3.4%;
    z-index: 1;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -ms-flex-preferred-size: 232px;
    flex-basis: 232px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pod3 {
    padding-top: 8px;
    padding-left: 3.4%;
    padding-right: 3.4%;
    z-index: 1;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    -ms-flex-preferred-size: 232px;
    flex-basis: 232px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pod4 {
    padding-top: 8px;
    padding-left: 3.4%;
    padding-right: 3.4%;
    z-index: 1;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    -ms-flex-preferred-size: 232px;
    flex-basis: 232px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pod5 {
    position: absolute;
    width: 112.5%;
    height: 519px;
    top: 1096px;
    left: -20px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section2 div[class^="pod"] iframe {
    height: 100%;
    width: 100%;
    border: none;
    max-width: 584px;
}

.section2 div[class^="pod"] img {
    height: 100%;
    width: 100%;
    max-width: 457.6px;
}

.section3 {
    position: absolute;
    top: 1550.5px;
    left: 0px;
    height: 850.5px;
    width: 100%;
}

.title5 {
    width: 90%;
    height: 84px;
    position: absolute;
    top: 450.5px;
    margin-left: 5%;
}

.p2 {
    height: 254px;
    position: absolute;
    top: 542.5px;
    margin-left: 5%;
    right: 5%
}

.section4 {
    position: absolute;
    top: 2401px;
    left: 0px;
    height: 1603px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section4 div[class^="img"] img {
    height: 100%;
    width: 100%;
}

.title6 {
    height: 84px;
    position: absolute;
    top: 0px;
    margin-left: 5%;
}

.img6 {
    padding-top: 102px;
    height: 243px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: 320px;
}

.img7 {
    height: 243px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 320px;
}

.img8 {
    height: 243px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    max-width: 320px;
}

.img9 {
    height: 243px;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    max-width: 320px;
}

.img10 {
    height: 243px;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    max-width: 320px;
}

.img11 {
    height: 243px;
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
    max-width: 320px;
}

.section5 {
    position: absolute;
    top: 4004px;
    left: 0px;
    height: 970px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title7 {
    height: 84px;
    position: absolute;
    top: 0px;
    margin-left: 5%;
}

.section5 div[class^="img"] img {
    height: 104px;
    width: 104px;
}

.img12 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: 162px;
    width: 320px;
    padding-top: 108px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.titleimg12 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 288px;
    height: 32px;
    padding-top: 13px;
}

.img13 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 194px;
    width: 320px;
    padding-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.titleimg13 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 288px;
    height: 64px;
    padding-top: 13px;
}

.img14 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    height: 162px;
    width: 320px;
    padding-top: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.titleimg14 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 288px;
    height: 32px;
    padding-top: 13px;
}

.img15 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    height: 162px;
    width: 320px;
    padding-top: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.titleimg15 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 288px;
    height: 32px;
    padding-top: 13px;
}

.section6 {
    position: absolute;
    top: 4974px;
    left: 0px;
    height: 341px;
    width: 100%;
}

.skew2 {
    height: 341px;
    width: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
    left: 0px;
    background: white;
}

.skew2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: skewY( -9deg);
    -ms-transform: skewY( -9deg);
    transform: skewY( -9deg);
    background-image: -o-linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.title8 {
    width: 90%;
    height: 126px;
    position: absolute;
    top: 12.8vw;
    left: 5%;
    text-align: center;
}

.title8 h2 {
    color: #FFFFFF;
}

.button2 {
    position: absolute;
    top: 226px;
    margin-left: 5%;
}

.section7 {
    position: absolute;
    top: 5315px;
    left: 0px;
    height: 121px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 22px;
    width: 320px;
    padding-top: 24px;
    padding-left: 1px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social {
    padding-top: 24px;
    padding-bottom: 31px;
    padding-right: 45px;
    padding-left: 45px;
    width: 227px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social>div {
    height: 28px;
    width: 16px;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

button {
    height: 48px;
    width: 288px;
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

button:hover {
    background-image: -o-linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
}

.episodios {
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(blue));
    background-image: -o-linear-gradient(red, blue);
    background-image: linear-gradient(red, blue);
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}

.icon {
    font-family: FontAwesome5Brands-Regular;
    font-size: 1rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}

@media (min-width: 1440px) {
    .header {
        height: 80px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header .menu-icon {
        display: none;
    }
    .header .menu {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        max-height: 80px;
        background: white;
        z-index: 0;
        top: 0px;
    }
    .header li:last-child {
        padding-right: 6.25rem;
    }
    .header .menu .li {
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
    }
    .header li:first-child {
        padding-top: 26px;
    }
    .header li a {
        display: block;
        color: #060A24;
    }
    .header li a:hover,
    .header .menu-btn:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }
    .header li a:active,
    .header .menu-btn:active {
        color: rgba(6, 10, 36, 0.56);
        text-decoration: line-through;
    }
    .header .logo {
        width: 36px;
        height: 36px;
        margin-left: 6.9%;
        margin-top: 0px;
    }
    .section1 {
        top: 80px;
        height: 369px;
    }
    .TitleContainer {
        position: absolute;
        margin-left: 0px;
        top: 120px;
        left: 200px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .TitleContainer>div {
        height: 84px;
    }
    .title3-1 {
        color: #0000EC;
    }
    h1 {
        font-size: 4rem;
        letter-spacing: 0;
        line-height: 84px;
    }
    .p1 {
        display: none;
    }
    .p1-1 {
        display: inline;
        max-width: 628px;
        position: absolute;
        top: 204px;
        left: 200px;
    }
    p {
        font-size: 1rem;
        line-height: 24px;
    }
    .button1 {
        position: absolute;
        top: 308px;
        margin-left: 200px
    }
    .section2 {
        top: 449px;
        height: 1042.6px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    button {
        font-size: 1.125rem;
        line-height: 24px;
    }
    .skew1 {
        height: 1032.6px;
    }
    .skew1:before {
        -webkit-transform: skewY( -3deg);
        -ms-transform: skewY( -3deg);
        transform: skewY( -3deg);
    }
    .title4 {
        padding-top: 186px;
        padding-left: 200px;
    }
    h2 {
        font-size: 3rem;
        line-height: 62px;
    }
    .pod1 {
        padding: 274px 0px 0px 100px;
        -ms-flex-preferred-size: 584px;
        flex-basis: 584px;
        max-width: 584px;
    }
    .pod2 {
        padding: 274px 0px 0px 72px;
        -ms-flex-preferred-size: 584px;
        flex-basis: 584px;
        max-width: 584px;
    }
    .pod3 {
        padding: 0px 0px 232.6px 100px;
        -ms-flex-preferred-size: 584px;
        flex-basis: 584px;
        max-width: 584px;
    }
    .pod4 {
        padding: 0px 0px 232.6px 72px;
        -ms-flex-preferred-size: 584px;
        flex-basis: 584px;
        max-width: 584px;
    }
    .pod5 {
        position: absolute;
        width: 457.6px;
        height: 660px;
        top: 874px;
        left: 200px;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section3 {
        top: 1491.6px;
        height: 653.4px;
    }
    .title5 {
        width: 90%;
        position: absolute;
        top: 20.4px;
        margin-left: 720px;
        height: 62px;
    }
    .p2 {
        height: 204px;
        width: 464px;
        position: absolute;
        top: 106.4px;
        margin-left: 720px;
        right: 256px;
    }
    .section4 {
        top: 2047px;
        left: 0px;
        height: 890px;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .title6 {
        height: 62px;
        position: absolute;
        top: 0px;
        margin: 0px 0px 0px 0px;
        left: 200px
    }
    .img6 {
        padding-top: 98px;
        height: 364px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-width: 474px;
    }
    .img7 {
        padding-top: 98px;
        height: 364px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        max-width: 474px;
    }
    .img8 {
        padding-top: 98px;
        height: 364px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        max-width: 474px;
        margin: 0px;
    }
    .img9 {
        height: 364px;
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        padding-bottom: 64px;
        max-width: 474px;
    }
    .img10 {
        height: 364px;
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
        padding-bottom: 64px;
        max-width: 474px;
    }
    .img11 {
        height: 364px;
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
        padding-bottom: 64px;
        max-width: 474px;
    }
    .section5 {
        top: 2937px;
        left: 0px;
        height: 362px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .title7 {
        height: 84px;
        position: absolute;
        top: 0px;
        margin-left: 200px;
        left: 0px;
    }
    .img12 {
        height: 178px;
        width: 260px;
        padding-top: 118px;
    }
    .titleimg12 {
        height: 32px;
        padding-top: 16px;
        width: 220px;
    }
    .img13 {
        height: 210px;
        width: 260px;
        padding-top: 118px;
    }
    .titleimg13 {
        height: 64px;
        padding-top: 16px;
        width: 220px;
    }
    .img14 {
        height: 178px;
        width: 260px;
        padding-top: 118px;
    }
    .titleimg14 {
        height: 32px;
        padding-top: 16px;
        width: 220px;
    }
    .img15 {
        height: 210px;
        width: 260px;
        padding-top: 118px;
    }
    .titleimg15 {
        height: 64px;
        padding-top: 16px;
        width: 220px;
    }
    .section5 div[class^="img"] img {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .section6 {
        top: 3299px;
        height: 518px;
    }
    .skew2 {
        height: 518px;
    }
    .skew2:before {
        -webkit-transform: skewY( -3deg);
        -ms-transform: skewY( -3deg);
        transform: skewY( -3deg);
    }
    .title8 {
        width: 50.1%;
        height: 62px;
        top: 213px;
        left: 26%;
        text-align: center;
    }
    .button2 {
        position: absolute;
        top: 311px;
        margin-left: 547px;
    }
    .section7 {
        position: absolute;
        top: 3817px;
        left: 0px;
        height: 95px;
    }
    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 28px;
        width: 269px;
        padding-top: 36px;
        padding-left: 100px;
    }
    .footer p {
        line-height: 28px;
    }
    .social {
        padding: 36px 100px 31px 0px;
        left: 0px;
        width: 300px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .social>div {
        height: 28px;
        width: 18px;
        padding-left: 36px;
    }
}